<?php

namespace Drupal\{{ machine_name }}\Plugin\EntityLogic;

use Drupal\entitylogic\EntityLogicBase;

/**
 * @EntityLogic(
 *   entity_type = "{{ entity_type_id }}"{% if bundle %},
 *   bundle = "{{ bundle }}"{% endif %}{% if selector %},
 *   selector = "{{ selector }}"{% endif %}

 * )
 */
class {{ class_name }} extends EntityLogicBase {

}
